@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/Services/ServicesCounters">Показания счетчиков</a>
        <a href="/Services/ProvidersServices">Услуги по поставщикам</a>
        <a href="/Periods/periods">Расчетный период</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
