@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/Services/invoiceServices">Показания счетчика</a>
        <a href="Periods/periods">Расчетный период</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
