<div class="top-row pl-4 navbar navbar-dark ">
    <a class="navbar-brand text-center"  href="">Мои коммунальные <br/> платежи</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass mt-3" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Services/services">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Услуги ЖКХ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Providers/providers">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Поставщики услуг
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inputfile">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Загрузить файл
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
