<div class="top-row pl-4 navbar navbar-dark ">
    <a class="navbar-brand text-center"  href="">Мои коммунальные <br/> платежи</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass mt-3" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="()=>subMenu=false">
                <span class="oi oi-home" aria-hidden="true"></span> 
                Квитанции
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="()=>subMenu = !subMenu">
                <span class="oi oi-wrench" aria-hidden="true"></span> 
                Администрирование
            </NavLink>

            @if (subMenu)
            {
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Services/services">
                            <span class="oi oi-spreadsheet" aria-hidden="true"></span>
                            Услуги ЖКХ
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Providers/providers">
                            <span class="oi oi-people" aria-hidden="true"></span>
                            Поставщики услуг
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Periods/periods">
                            <span class="oi oi-calendar" aria-hidden="true"></span>
                            Расчетный период
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private static bool subMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public static void SetSubMenu(bool value)
    {
        subMenu = value;
    }
}
