@page "/Services/invoiceServices/"
@page "/Services/invoiceServices/{invoiceId}"
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<Invoice> repository
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<Period> periodRepository
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<InvoiceServices> invoiceServicesRepository
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<Service> servicesRepository
<!-- Форма -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Показания счетчиков</h2>
            <p>Период: <span>@periodName</span> </p>  
            <p>Поставщик услуг: <span>@providerName</span> </p>
            <!--  Отображение таблицы со счетами  -->
            <table class="table table-sm table-bordered table-hover ">
                <!--Заголовок таблицы-->
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="w-50">Услуга</th>
                        <th scope="col" class="text-center w-25">Показания счетчика</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <!--Тело таблицы-->
                @foreach (var item in invoiceServicesCollection)
                {
                    <tbody>
                        <tr>
                            <td>
                                <!--Услуга-->
                                <div>
                                    @item.Service.NameService
                                </div>
                            </td>
                            <td>
                                <!--Показания счетчика-->
                                <div class="text-center">
                                    @item.Amount
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }


            </table>
        </div>
    </div>
</div>


@code
{

    #region Поля, Инициализация формы, Модальное окно
    [Parameter]
    public string invoiceId { get; set; }

    private int invoice;
    private string periodName;
    private string providerName;
    private List<InvoiceServices> invoiceServicesCollection;

    protected override void OnParametersSet()
    {
        invoice = int.Parse(invoiceId);
        invoiceServicesCollection = invoiceServicesRepository.GetAll().Where(i => i.Invoice.IdInvoice == invoice).ToList();
        if(invoiceServicesCollection.Count > 0)
        {
            periodName = invoiceServicesCollection[0].Invoice.Period.Month;
            providerName = invoiceServicesCollection[0].Invoice.Provider.NameProvider;
        }

    }

    protected override void OnInitialized()
    {
        periodName = "";
        providerName = "";
    }


    #endregion

    #region Обработка нажатия кнопок


    private void RemoveService(InvoiceServices item)
    {
        invoiceServicesRepository.Remove(item);
    }


    #endregion


}
