
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<ProvidersServices> repository
@inject MyCommunalPayments.Data.Services.Repositories.Base.IRepository<Service> repositoryServices
<!-- Форма -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Услуги ЖКХ предоставляемые Поставщиками </h2>
            <h4>Поставщик: @Provider.NameProvider</h4>
            <!--Добавление услуг поставщику-->
            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить услугу</button>
                </div>
                <div class="col text-right">
                    <button class="btn btn-danger" @onclick="OnClickReturnToProviders">Вернуться к списку поставщиков</button>
                </div>
            </div>
            <!--  Таблица с периодами  -->
            <table class="table table-sm table-bordered table-hover ">
                <!--Заголовок таблицы-->
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col" class="w-75">Услуга</th>
                        <th scope="col" class="w-auto text-center"></th>
                    </tr>
                </thead>
                <!--Тело таблицы-->
                @foreach (var item in ProvidersServicesCollection)
                {
                    <tbody>
                        <tr>
                            <!--Услуга-->
                            <td>
                                <div>
                                    @item.Service.NameService
                                </div>

                            </td>
                            <!--Блок кнопок-->
                            <td>
                                <div class="text-center">
                                    <button class="btn btn-sm btn-info" @onclick="(() => Edit(item))">Изменить</button>
                                    <button class="btn btn-sm btn-danger" @onclick="(() => Remove(item))">Удалить</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<Modal @ref="modal">
    <Title>Добавление нового поставщика услуг ЖКХ</Title>
    <CloseButton>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal">
            <span aria-hidden="true">&times;</span>
        </button>
    </CloseButton>
    <Body>
        <div>
            <table class="table table-sm table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th class="w-50"></th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <!--Услуга-->
                            <div>
                                <select class="form-control" placeholder="Услуга" @bind="serviceName">
                                    @foreach (var item in services)
                                    {
                                        <option>@item.NameService</option>
                                    }
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <button type="button" class="btn btn-sm btn-primary" @onclick="Add">Добавить</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </Body>
    <Footer>
        @*<button type="button" class="btn btn-sm btn-primary" @onclick="Add">Сохранить</button>*@
    </Footer>
</Modal>


@code
{
    #region Поля, Инициализация формы, Модальное окно

    [Parameter]
    public Provider Provider { get; set; }
    [Parameter]
    public EventCallback OnClickReturnToProviders { get; set; }

    private ProvidersServices providersServices = default;
    private IEnumerable<ProvidersServices> ProvidersServicesCollection;
    
    private Provider provider;
    private string serviceName;

    private List<Service> services;

    //Модальное окно
    private Modal modal { get; set; }

    private void CloseModal()
    {
        serviceName = default;
        providersServices = default;
        modal.Close();
    }
    private void OpenModal()
    {
        modal.Open();
    }

    protected override void OnInitialized()
    {
        ProvidersServicesCollection = repository.GetAll().Where(p=>p.Provider.IdProvider == Provider.IdProvider);

        provider = Provider;
        services = repositoryServices.GetAll().ToList();
        serviceName = services[0].NameService;
    }

    private Service GetServiceByName(string name) => services.Single(i => i.NameService == name);



    #endregion

    #region Обработка нажатия кнопок

    /// <summary>
    /// Добавить или отредактировать
    /// </summary>
    private void Add()
    {
        if (provider != null && !string.IsNullOrWhiteSpace(serviceName))
        {

            if (providersServices == null)
            {
                providersServices = new ProvidersServices()
                {
                    Provider = provider,
                    Service = GetServiceByName(serviceName)
                };

                repository.Add(providersServices);
            }
            else
            {
                providersServices.Service = GetServiceByName(serviceName);
                repository.Edit(providersServices);
            }
        }
        providersServices = default;
    }

    /// <summary>
    /// Изменить запись
    /// </summary>
    private void Edit(ProvidersServices item)
    {
        providersServices = item;
        modal.Open();
        serviceName = item.Service.NameService;
    }

    /// <summary>
    /// Удалить запись
    /// </summary>
    /// <param name="item"></param>
    private void Remove(ProvidersServices item)
    {
        repository.Remove(item);
    }


    #endregion

}