@page "/Services/Services"

@inherits ServicesBase

<!-- Форма -->
<FormTableComponent ItemsCollection="@Services">
    <TableTitleFragment>
        Услуги ЖКХ
    </TableTitleFragment>
    <TableTitleButtonFragment>
        <div class="col">
            <button class="btn btn-success" @onclick="() => OpenModal()">Добавить</button>
        </div>
    </TableTitleButtonFragment>
    <TableHeaderFragment>
        <th scope="col" class="w-75">Наименование услуги</th>
        <th scope="col" class="w-auto"></th>
    </TableHeaderFragment>
    <TableBodyFragment>
        <TableBodyComponent ItemsCollection="@Services">
            <ItemFragment Context="service">
                <RowServicesTable Service="service" EditEvent="Edit" RemoveEvent="Remove" />
            </ItemFragment>
        </TableBodyComponent>
    </TableBodyFragment>
</FormTableComponent>


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>@modalTitle</Title>
    <Body>
        <div class="col mb-2">
            <input class="form-control" placeholder="Наименование услуги" @bind-value="serviceName" />
        </div>
        <!--Чек-бокс-->
        <div class="col">
            <input type="checkbox" @bind="count" class="align-content-center" />
            <label class="form-check-label">Услуга подразумевает наличие счетчика </label>
        </div>
    </Body>
    <Footer>
        <button type="submit" class="btn btn-sm btn-primary" @onclick="Add">Сохранить</button>
    </Footer>
</Modal>

