@inherits InvoicesBase



@if (!isPay)
{
    <!-- Форма -->
    <FormTableComponent ItemsCollection="invoices">
        <TableTitleFragment>
            Квитанции ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            @*Добавление нового счета*@
            <div class="col">
                <button class="btn btn-success " @onclick="()=>OpenModal()">Добавить</button>
            </div>
            @*Флаг отображения оплаченных/неоплаченных квитанций*@
            <div class="col text-right align-content-center">
                <label>Показывать только неоплаченные квитанции</label>
                <input type="checkbox" checked="checked" value="isNotPaided" @onchange="()=>ShowPaided()" />
            </div>
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col">Оплачено</th>
            <th scope="col" class="w-auto">Период</th>
            <th scope="col" class="w-auto">Поставщик услуг</th>
            <th scope="col" class="w-auto">Сумма</th>
            <th scope="col" class="w-auto"></th>
            <th scope="col" class="w-auto"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="@invoices">
                <ItemFragment Context="context">
                    <RowInvoicesTable Invoice="context" EditEvent="Edit" RemoveEvent="Remove" SetServiceEvent="SetService" PayEvent="Pay" />
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>

}
else
{
    <Payments Invoice="invoice"
              OnPaimentReturnToInvoices="ReturnToPayment" />
}

@if (periodsList != null && providersList != null)
{

    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>
            <p>Добавление нового счета за ЖКХ</p>
        </Title>
        <Body>
            <!--Период-->
            <div class="col mb-3">
                <select @bind="periodName" class="form-control">
                    @foreach (var item in periodsList)
                    {
                        <option>@item.ToString()</option>
                    }
                </select>
            </div>
            <!--Поставщик-->
            <div class="col mb-3">
                <select class="form-control" placeholder="Поставщик" @bind="providerName">
                    @foreach (var item in providersList)
                    {
                        <option>@item.NameProvider</option>
                    }
                </select>
            </div>
            <!--Сумма-->
            <div class="col mb-3">
                <input class="form-control" placeholder="Сумма" @bind="summ" />
            </div>
        </Body>
        <Footer>
            <a class="btn btn-sm btn-outline-success" role="button" href="@GetProviderByName(providerName).WebSite" target="_blank">Перейти в личный кабинет</a>
            <button type="button" class="btn btn-sm btn-primary" @onclick="Add">Сохранить</button>
        </Footer>
    </Modal>
}


