@*<div class="spinner">

</div>*@
<div class="d-flex align-items-center justify-content-center text-info">
    <strong>Loading...</strong>
    <div class="spinner-border ml-5" role="status" aria-hidden="true"></div>
</div>