@page "/Providers/providers"
@inherits ProvidersBase


<Toast @ref="toast" OnClickConfirm="Confirm">
    <Message>@message</Message>
</Toast>

@if (isProvider)
{
    <!-- Форма -->
    <FormTableComponent ItemsCollection="providers">
        <TableTitleFragment>
            Поставщики услуг ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <div class="col">
                <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
            </div>
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col" class="w-50">Наименование поставщика</th>
            <th scope="col">Web site</th>
            <th scope="col" class="w-auto text-center"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="providers">
                <ItemFragment Context="context">
                    <RowProvidersTable Provider="context" EditEvent="Edit" RemoveEvent="Remove" SetServicesEvent="SetServices" />
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>
}
else
{
    <ProviderServices Provider="provider"
                      OnClickReturnToProviders="ReturnFromService" />
}


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>Добавление нового поставщика услуг ЖКХ</Title>
    <Body>
        <EditForm Model="@ProviderModel" OnValidSubmit="AddAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="col mb-3">
                <InputText class="form-control" placeholder="Новый поставщик" @bind-Value="ProviderModel.NameProvider" />
            </div>
            <div class="col mb-3">
                <InputText class="form-control" placeholder="Web site" @bind-Value="ProviderModel.WebSite" />
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            </div>
        </EditForm>
    </Body>
</Modal>


