@page "/Providers/providers"
@inherits ProvidersBase


<Toast @ref="toast" OnClickConfirm="Confirm">
    <Message>@message</Message>
</Toast>

@if (isProvider)
{
    <!-- Форма -->
    <FormTableComponent ItemsCollection="providers">
        <TableTitleFragment>
            Поставщики услуг ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <div class="col">
                <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
            </div>
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col" class="w-50">Наименование поставщика</th>
            <th scope="col">Web site</th>
            <th scope="col" class="w-auto text-center"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="providers">
                <ItemFragment Context="context">
                    <RowProvidersTable Provider="context" EditEvent="Edit" RemoveEvent="Remove" SetServicesEvent="SetServices" />
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>
}
else
{
    <ProviderServices Provider="provider"
                      OnClickReturnToProviders="ReturnFromService" />
}


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>Добавление нового поставщика услуг ЖКХ</Title>
    <Body>
        <div class="col mb-3">
            <input class="form-control" placeholder="Новый поставщик" @bind-value="@provideName" />
        </div>
        <div class="col mb-3">
            <input class="form-control" placeholder="Web site" @bind-value="webSite" />
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-sm btn-primary" @onclick="Add">Сохранить</button>
    </Footer>
</Modal>


