@page "/Providers/providers"
@inherits ProvidersBase


<Toast @ref="toast" OnClickConfirm="Confirm">
    <Message>@message</Message>
</Toast>

@if (isProvider)
{
    <!-- Форма -->
    <FormTableComponent ItemsCollection="providers">
        <TableTitleFragment>
            Поставщики услуг ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <div class="col">
                <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
            </div>
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col" class="w-50">Наименование поставщика</th>
            <th scope="col">Web site</th>
            <th scope="col" class="w-auto text-center"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="providers">
                <ItemFragment Context="context">
                    <RowProvidersTable Provider="context" EditEvent="Edit" RemoveEvent="Remove" SetServicesEvent="SetServices" />
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>
}
else
{
    <ProviderServices Provider="provider"
                      OnClickReturnToProviders="ReturnFromService" />
}


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>Добавление нового поставщика услуг ЖКХ</Title>
    <Body>
        <ModalFormComponent T="@ProviderViewModel" ViewModel="@ProviderModel" SaveEvent="AddAsync">
            <FormBodyFragment>
                <ModalFormRowComponent>
                    <RowFragment>
                        <InputText class="form-control" placeholder="Новый поставщик" @bind-Value="ProviderModel.NameProvider" />
                    </RowFragment>
                </ModalFormRowComponent>
                <ModalFormRowComponent>
                    <RowFragment>
                        <InputText class="form-control" placeholder="Web site" @bind-Value="ProviderModel.WebSite" /> 
                    </RowFragment>
                </ModalFormRowComponent>
            </FormBodyFragment>
        </ModalFormComponent>
    </Body>
</Modal>


