
<tr>
    @*Год*@
    <td>
        <div class="text-center">
            @Period.Year
        </div>

    </td>
    @*Количество*@
    <td>
        <div class="text-center">
            @Period.Month
        </div>

    </td>
    @*Блок кнопок*@
    <td>
        <div class="text-center">
            <button class="btn btn-sm btn-info" @onclick="()=>EditEvent.InvokeAsync(Period)">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="()=>RemoveEvent.InvokeAsync(Period)">Удалить</button>
        </div>
    </td>
</tr>

@code{
    [Parameter] public Period Period { get; set; }
    [Parameter] public EventCallback<Period> RemoveEvent { get; set; }
    [Parameter] public EventCallback<Period> EditEvent { get; set; }
}