<tr>
    <!--Наименование услуги-->
    <td>
        <div>
            @Service.NameService
        </div>

    </td>
    <!--Блок кнопок-->
    <td>
        <div class="text-center">
            <button class="btn btn-sm btn-info" @onclick="(() => EditEvent.InvokeAsync(Service))">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="(() => RemoveEvent.InvokeAsync(Service))">Удалить</button>
        </div>
    </td>
</tr>

@code{
    [Parameter] public Service Service { get; set; }
    [Parameter] public EventCallback<Service> RemoveEvent { get; set; }
    [Parameter] public EventCallback<Service> EditEvent { get; set; }
}