@page "/Periods/periods"

@inherits PeriodsBase

<!-- Форма -->
 <FormTableComponent ItemsCollection="@periods">
    <TableTitleFragment>
        Расчетные периоды
    </TableTitleFragment>
    <TableTitleButtonFragment>
        <div class="col">
            <button class="btn btn-success" @onclick="()=>modal.Open()">Добавить</button>
        </div>
    </TableTitleButtonFragment>
    <TableHeaderFragment>
        <th scope="col" class="w-auto text-center">Год</th>
        <th scope="col" class="w-auto">Расчетный период</th>
        <th scope="col" class="w-auto text-right"></th>
    </TableHeaderFragment>
    <TableBodyFragment>
        <TableBodyComponent ItemsCollection="@periods">
            <ItemFragment Context="period">
                <RowPeriodsTable Period="period" EditEvent="Edit" RemoveEvent="Remove" />
            </ItemFragment>
        </TableBodyComponent>
    </TableBodyFragment>

</FormTableComponent>


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>Добавление нового расчетного периода</Title>
    <Body>
        <div class="col mb-3">
            <input class="form-control" placeholder="Расчетный год" @bind-value="@year" />
        </div>
        <!--Период-->
        <div class="col mb-3">
            <select class="form-control" placeholder="Период" @bind="month">
                @foreach (var item in Enum.GetValues(typeof(PeriodsName)))
                {
                    <option>@item</option>
                }
            </select>
        </div>
    </Body>
    <Footer>
        <button type="button" class="btn btn-sm btn-primary" @onclick="Add">Сохранить</button>
    </Footer>
</Modal>

