<tr>
    <!--Наименование услуги-->
    <TableColumnComponent>
        <ColFragment>
            @InvoiceServices.Service.NameService
        </ColFragment>
    </TableColumnComponent>
    <!--Показания счетчика-->
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            @InvoiceServices.Amount
        </ColFragment>
    </TableColumnComponent>
    <!--Блок кнопок-->
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            <button class="btn btn-sm btn-info" @onclick="(() => EditEvent.InvokeAsync(InvoiceServices))">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="(() => RemoveEvent.InvokeAsync(InvoiceServices))">Удалить</button>
<<<<<<< Updated upstream:src/MyCommunalPayments.BlazorWebUI/Components/FormTable/RowInvoiceServicesTable.razor
        </ColFragment>
    </TableColumnComponent>
=======
        </div
    </td>
>>>>>>> Stashed changes:MyCommunalPayments.BlazorWebUI/Components/FormTable/RowInvoiceServicesTable.razor
</tr>

@code {

    [Parameter] public InvoiceServices InvoiceServices { get; set; }
    [Parameter] public EventCallback<InvoiceServices> RemoveEvent { get; set; }
    [Parameter] public EventCallback<InvoiceServices> EditEvent { get; set; }
}
