<tr>
    <!--Чек-бокс-->
    <TableColumnComponent ColClass="text-center align-content-center">
        <ColFragment>
            <input onclick="return false;" type="checkbox" @bind="Invoice.Pay" />
        </ColFragment>
    </TableColumnComponent>
    <!--Период-->
    <TableColumnComponent>
        <ColFragment>
            @Invoice.Period
        </ColFragment>
    </TableColumnComponent>
    <!--Поставщик-->
    <TableColumnComponent>
        <ColFragment>
            @Invoice.Provider.NameProvider
        </ColFragment>
    </TableColumnComponent>
    <!--Сумма-->
    <TableColumnComponent ColClass="text-right">
        <ColFragment>
            @Invoice.InvoiceSum
        </ColFragment>
    </TableColumnComponent>
    <!--Блок кнопок-->
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            <button class="btn btn-sm btn-info" @onclick="(() => EditEvent.InvokeAsync(Invoice))">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="(() => RemoveEvent.InvokeAsync(Invoice))">Удалить</button>
            <button class="btn btn-sm btn-warning" @onclick="(()=>SetServiceEvent.InvokeAsync(Invoice))">Услуги</button>
        </ColFragment>
    </TableColumnComponent>
    @*Блок оплаты*@
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            @if (Invoice.Pay)
            {
                <button class="btn btn-sm btn-success" @onclick="()=>PayEvent.InvokeAsync(Invoice)">Оплачено</button>
            }
            else
            {
                <button class="btn btn-sm btn-outline-success" @onclick="()=>PayEvent.InvokeAsync(Invoice)">Оплатить</button>
            }
        </ColFragment>
    </TableColumnComponent>
</tr>

@code {
    [Parameter] public Invoice Invoice { get; set; }
    [Parameter] public EventCallback<Invoice> RemoveEvent { get; set; }
    [Parameter] public EventCallback<Invoice> EditEvent { get; set; }
    [Parameter] public EventCallback<Invoice> SetServiceEvent { get; set; }
    [Parameter] public EventCallback<Invoice> PayEvent { get; set; }
}
