<tr>
    <!--Наименование услуги-->
    <TableColumnComponent>
        <ColFragment>
            @Provider.NameProvider
        </ColFragment>

    </TableColumnComponent>
    <!--Количество-->
    <TableColumnComponent>
        <ColFragment>
            @Provider.WebSite
        </ColFragment>

    </TableColumnComponent>
    <!--Блок кнопок-->
    <TableColumnComponent ColClass="text-center">
        <ColFragment >
            <button class="btn btn-sm btn-info" @onclick="(() => EditEvent.InvokeAsync(Provider))">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="(() => RemoveEvent.InvokeAsync(Provider))">Удалить</button>
            <button class="btn btn-sm btn-warning" @onclick="(() => SetServicesEvent.InvokeAsync(Provider))">Услуги</button>
        </ColFragment>
    </TableColumnComponent>
</tr>

@code {
    [Parameter] public Provider Provider { get; set; }
    [Parameter] public EventCallback<Provider> RemoveEvent { get; set; }
    [Parameter] public EventCallback<Provider> EditEvent { get; set; }
    [Parameter] public EventCallback<Provider> SetServicesEvent { get; set; }
}
