
<tr>
    @*Год*@
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            @Period.Year
        </ColFragment>

    </TableColumnComponent>
    @*Количество*@
    <TableColumnComponent ColClass="text-center">
        <ColFragment >
            @Period.Month
        </ColFragment>

    </TableColumnComponent>
    @*Блок кнопок*@
    <TableColumnComponent ColClass="text-center">
        <ColFragment >
            <button class="btn btn-sm btn-info" @onclick="()=>EditEvent.InvokeAsync(Period)">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="()=>RemoveEvent.InvokeAsync(Period)">Удалить</button>
        </ColFragment>
    </TableColumnComponent>
</tr>

@code{
    [Parameter] public Period Period { get; set; }
    [Parameter] public EventCallback<Period> RemoveEvent { get; set; }
    [Parameter] public EventCallback<Period> EditEvent { get; set; }
}